h1{
    background-color: rgb(159, 7, 182);
    color: rgb(58, 121, 176);
    height: 400%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    background-color: rgb(240, 112, 138);
    color: blue;
    
}
h4{
    background-color: rgb(240, 112, 138);
    color: rgb(6, 143, 212);
    font-size: 250%;
}
footer{
    background-color: rgb(159, 7, 182);
    height: 600%;
    color: rgb(230, 236, 241);
}
h6{
    color: rgb(236, 51, 18);
    font-size: 200%;
}
